<html>
  <head>
    <title>Blank Document</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/css/jquery-ui.min.css"
    />
    <link
      rel="stylesheet"
      href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css"
    />

    <!-- Optional theme -->
    <!--     <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> -->

    <!-- Current doc CSS
	<link rel="stylesheet" href="index.css"> -->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2>Recommend me something!</h2>
          <br />
          <form action="{{ url_for('handle_data') }}" method="post">
            <div class="form-group">Anime name:</div>
            <div class="form-group">
              <input
                id="searchInput"
                type="text"
                class="form-control"
                name="anime_name"
              />
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="./static/autocomplete.js"></script>
    <script>
      fetch("./static/anime_clean.json")
        .then((response) => response.json())
        .then((anime) => {
          console.log(anime);
          autocomplete(document.getElementById("searchInput"), anime);
        });
    </script>
  </body>
</html>
